<div class="container-fluid">
<div class="card-deck">
    <div class="card">
      <img src="../assets/4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Desenvolvido em python</h5>
        <p class="card-text">linguagem de programação de alto nível, interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte.</p>
        <p class="card-text"><small class="text-muted">By: Johnata Duarte</small></p>
      </div>
    </div>
    <div class="card">
        <img src="../assets/6.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">APS - JOHNATAN DUARTE</h5>
        <p class="card-text">CONTATO: 48 9 8806-7628</p>
        <p class="card-text">EMAIL: joh-duarte@hotmail.com</p>
        <p class="card-text"><small class="text-muted">By: Johnata Duarte</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Codigo versionado</h5>
        <p class="card-text">Aplicação desenvolvida utilizando o padrão de sistema de controle de arquivos, permitindo e garantindo a integridade e historico do codigo.</p>
        <p class="card-text"><small class="text-muted">By: Johnata Duarte</small></p>
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="card-deck">
        <div class="card">
          <img src="../assets/1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Desenvolvido com API REST</h5>
            <p class="card-text">API é um conjunto de rotinas e padrões de programação para acesso a um aplicativo de software ou plataforma baseado na Web. A sigla API refere-se ao termo em inglês "Application Programming Interface" que significa em tradução para o português "Interface de Programação de Aplicativos".</p>
            <p class="card-text"><small class="text-muted">By: Johnata Duarte</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Django Framework</h5>
            <p class="card-text">Django é um dos frameworks web mais populares, como configurar um ambiente de desenvolvimento e como começar a usa-lo para criar seus próprios aplicativos da Web.</p>
            <p class="card-text"><small class="text-muted">By: Johnata Duarte</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Banco de dados</h5>
            <p class="card-text">PostgreSQL é um dos SGBDs (Sistema Gerenciador de Bancos de Dados) de código aberto mais avançados, contando com recursos como                Consultas complexas
                Chaves estrangeiras
                Integridade transacional
                Controle de concorrência multi-versão
                Suporte ao modelo híbrido objeto-relacional
                Facilidade de Acesso
                Gatilhos</p>
            <p class="card-text"><small class="text-muted">By: Johnata Duarte</small></p>
          </div>
        </div>
      </div>
      </div>